# Ignore .env file
app/.env

node_modules/

chroma_db
Latex
report.pdf
Latex.zip
CS21B2045.pdf

# Ignore all CSV files (anywhere in the project)
*.csv

# But NOT csv files
!app/resources/*.csv

# Ignore all SQLite database files
*.sqlite

# Ignore __pycache__ folders (Python bytecode)
__pycache__/
**/__pycache__/

# Optional: Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Optional: VSCode settings
.vscode/
