# Core UI
streamlit==1.44.1

# LLM Client
groq==0.30.0

# Data Handling
pandas==2.2.3

# Environment Variables
python-dotenv==1.1.0

# Vector Store for FAQ (ChromaDB)
chromadb==1.0.15

# Embeddings (used by ChromaDB & SemanticRouter)
sentence-transformers==5.0.0

# Semantic Routing
semantic-router[huggingface]==0.1.12
